# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.metadata
pubspec.lock
**.config.dart
**.freezed.dart
**.g.dart

assets/
apps/mobile/android
apps/mobile/ios
analysis_options.yaml
CHANGELOG.md
LICENSE

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
apps/**/.dart_tool/
apps/**/build/
apps/**/.flutter-plugins-dependencies
packages/**/.dart_tool/
packages/**/build/
packages/**/.idea/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Project-local ignored directories and env files
.env
.env.local
.env.*.local
/android/
/supabase/
/ios
/web
